@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1F2128;
  --primary: #FFCE22;
  --primary-active: #FFD84D;
  --primary-foreground: #FFFFFF;
  --secondary: #2469F6;
  --secondary-foreground: #1F2128;
  --secondary-active: #5087F8;
  --secondary-focus: #EAF0FE;
  --card: #FFFFFF;
  --border: #CDCDCD;
  --checkbox: #BDBDBD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-card: var(--card);
  --color-checkbox: var(--checkbox);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-active: var(--primary-active);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-focus: var(--secondary-focus);

  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

.card {
  background: var(--card);
  border-color: #EEEEEE;
  box-shadow: 0px 8px 15px 0px #1414141F, 0px 0px 4px 0px #1414141A;
}
